@{ 
    Layout = "_Layout";
}
@model Task13_1.Models.Person

<p>
    <b>Id:</b><br />
    @Html.Display("Id")
</p>
<p>
    <b>Имя:</b><br />
    @Html.Display("Name")
</p>
<p>
    <b>Возраст:</b><br />
    @Html.Display("Age")
</p>