@model Task21_1.ViewModels.RegisterModel

<h3>Registration</h3>

<form asp-controller="Account" asp-action="Register" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Enter the Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Enter the Password</label><br />
            <input type="password" asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Confirm the Password</label><br />
            <input type="password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <input type="submit" value="Registration" />
        </div>
    </div>
</form>