@model Task17_1.Models.User
@{
    ViewBag.Title = "Edit user";
}
<form asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label">Age</label>
        <input type="number" asp-for="Age" class="form-control" />
        <span asp-validation-for="Age"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
</form>