@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. To enter the application, go to <a asp-action="Login">this link</a>.
</p>