@{
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <h3></h3>
        <p>The next filling</p>
        <form method="post" class="form-horizontal" role="form">
            <div class="form-group">
                <label for="User" class="col-md-2 control-label">Name:</label>
                <div class="col-md-4">
                    <input type="text" name="User" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label for="Address" class="col-md-2 control-label">Address:</label>
                <div class="col-md-4">
                    <input type="text" name="Address" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Phone:</label>
                <div class="col-md-4">
                    <input type="text" name="ContactPhone" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Отправить" />
                </div>
            </div>
        </form>
    </div>
</body>
</html>