@{
    ViewData["Title"] = "Home Page";
}


<form method="post">
    <p>
        <input type="text" name="items[0]" />
    </p>
    <p>
        <input type="text" name="items[1]" />
    </p>
    <p>
        <input type="text" name="items[2]" />
    </p>
    <p>
        <input type="submit" value="Send" />
    </p>
</form>