
@{
    Layout = "_Layout"; 
    ViewData["Title"] = "Log";
}
<form method="post">
    <label>Name:</label><br />
    <input type="text" name="name" /><br /><br />
    <label>Pass:</label><br />
    <input type="password" name="age" /><br /><br />
    <input type="submit" value="Отправить" />
</form>