@{
    Layout = "_Layout";
}

@model Task14_1.Models.Car

<form asp-action="Create" asp-controller="Home" asp-antiforgery="true" >
    <div>
        <div>
            <label asp-for="Brand"></label>
            <input  type="text" asp-for="Brand"/>
        </div>
        <div>
            <label asp-for="CompanyId"></label>
            <select asp-for="CompanyId" asp-items="ViewBag.Companies"></select>
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </div>
</form>