@{
    ViewData["Title"] = "Home Page";
}
@using Task14_1
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Task14_1
<script asp-src-include="~/js/**/*.js"></script>

<date></date>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
